#rideOneHighlight {
  display: none;
  /* background-color: yellow; */
}
#rideTwoHiglight {
  display: none;
  /* background-color: yellow; */
}
#rideThreeHighlight{
  display: none;
  /* background-color: yellow; */
}

.starlight {
  background-color: yellow;
}
